@namespace url("http://www.w3.org/1999/xhtml");

:root {
  --bk-color-highlight: orange;
  --color-highlight: black;
}

.contextmenu {
  position: absolute;
  line-height: 21px;
  font-size: 12px;
  width: 140px;
  display: none;
  background: #e5e5e5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.previous,
a.next,
.days a {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 20px;
}

a.previous:hover,
a.next:hover,
.days a:hover {
  outline: 1px solid var(--bk-color-highlight);
}

.yearMonth { display: flex; }
a.previous { margin: 0 auto 0 0; }
a.next { margin: 0 0 0 auto; }

.days {
  display: flex;
  flex-wrap: wrap;
}

.selected {
  font-weight: bold;
  background: var(--bk-color-highlight);
  color: var(--color-highlight);
}

input.datepicker:focus + div.contextmenu {
  display: block;
}
input.datepicker:focus + div.contextmenu,
div.contextmenu:hover {
  display: block;
}