@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--preference-height: 40px;

	--color-control-focused: rgb(10, 133, 255);

	--color-control-accent: rgb(0, 96, 223);
	--background-color-input: rgb(121, 121, 121);

	/*******************light theme colors*******************/
	--foreground-color: rgb(0, 0, 0);
	--background-color-body: transparent;
	--background-color-select-control: transparent;
	--background-color-option-control: transparent;
	--foreground-color-help-info: rgb(255, 255, 255);
	--background-color-help-info: rgb(187, 187, 187);
	--background-color-hover-help-info: rgb(42, 67, 100);
	--background-color-input-control: rgb(229, 229, 229); /*rgb(255, 255, 255);*/
	--foreground-color-disabled-control: rgb(169, 169, 169);
	--background-color-disabled-control: rgb(211, 211, 211);

	--background-color-button: 6, 6, 5;
	--background-alpha-button: 0.1;
	--background-alpha-hover-button: 0.15;
	--background-alpha-hover-active-button: 0.2;

	--color-flash: rgb(255, 192, 192);
}

@media (prefers-color-scheme: dark) {

	:root {
		/********************dark theme colors*******************/
		--foreground-color: rgb(249, 249, 250);
		--background-color-body: rgb(35, 34, 43);
		--background-color-select-control: rgb(50, 50, 54);
		--background-color-option-control: rgb(43, 42, 51);
		--foreground-color-help-info: rgb(0, 0, 0);
		--background-color-help-info: rgb(92, 92, 92);
		--background-color-hover-help-info: rgb(192, 192, 192);
		--background-color-input-control: var(--background-color-select-control);
		--foreground-color-disabled-control: rgb(127, 127, 127);
		--background-color-disabled-control: rgb(72, 72, 72);

		--background-color-button: 249, 249, 250;
		--background-alpha-button: 0.1;
		--background-alpha-hover-button: 0.15;
		--background-alpha-hover-active-button: 0.2;

		--color-flash: rgb(255, 88, 88);
	}
}

body {
	font-family: inherit;
	font-size: 1.273rem;
	font-weight: normal;
	min-width: auto;
	max-width: 700px;
	line-height: 21px;
	white-space: nowrap;
	color: var(--foreground-color);
	background-color: var(--background-color-body);
}

.caption {
	font-size: 2rem;
	margin-bottom: 35px;
}

body.noCaptionStyleV68 .caption,
body.noCaptionStyleV68 .caption + .prefSeperator {
	display: none;
}

.prefSeperator {
	border-bottom: 1px solid rgb(211, 211, 211);
}

.preference {
	display: flex;
	justify-content: space-between;
	padding: 9px 3px;
	height: var(--preference-height);
	min-height: var(--preference-height);
	max-height: var(--preference-height);
}

.preference.subPref,
.preference.subPref + .prefSeperator {
	padding-left: 20px;
}

.preferenceControl {
	display: flex;
}

.controlLabel {
	padding-left: 5px;
}

.controlLabel:not(:last-child) {
	padding-right: 5px;
	margin-right: 10px;
}

.controlTitle {
	padding-right: 5px;
	padding-right: 5px;
	margin-left: 30px;
}

select {
	border: 1px solid #7a7a7a;
	color: var(--foreground-color);
	background-color: var(--background-color-select-control);
}

select:focus {
	border-color: var(--color-control-focused);
	box-shadow: 0 0 2.5px 1px var(--color-control-focused);
	background-color: var(--background-color-select-control);
}

select > option {
	background-color: var(--background-color-option-control);
}

input[type="checkbox"] {
	--button-width: 36px;
	--button-height: 18px;
	--dot-margin: 4px;
	--dot-size: calc(var(--button-height) - 2*var(--dot-margin));
	--dot-transform-x: calc(var(--button-width) - 2*var(--dot-margin) - var(--dot-size));

	-moz-appearance: none;
	appearance: none;
	padding: 0;
	margin: 2px 0;
	outline: none;
	box-sizing: border-box;
	width: var(--button-width);
	height: var(--button-height);
	border-radius: calc(var(--button-height) / 2);
	color: var(--foreground-color);
	background-color: var(--background-color-input);
}
input[type="checkbox"]:checked {
	background-color: var(--color-control-accent);
}
input[type="checkbox"]:disabled {
	background-color: var(--background-color-disabled-control);
}
input[type="checkbox"]:focus {
	box-shadow: 0 0 2.5px 2px var(--color-control-focused);
}

input[type="checkbox"]::before {
	display: block;
	content: "";
	background-color: #ffffff;
	height: var(--dot-size);
	width: var(--dot-size);
	margin: var(--dot-margin);
	border-radius: 50%;
	transition: transform 100ms;
}
input[type="checkbox"]:checked::before {
	transform: translateX(var(--dot-transform-x));
}
input[type="checkbox"]:disabled::before {
	background-color: var(--foreground-color-disabled-control);
}

input[type="text"] {
	color: var(--foreground-color);
	background-color: var(--background-color-input-control);
	border: 1px solid #7a7a7a;
	padding: 0 2px;
}

.helpInfo {
	display: inline-block;
	border-radius: 50%;
	height: 18px;
	width: 18px;
	background-color: var(--background-color-help-info);
	color: var(--foreground-color-help-info);
	font-family: "Open Sans",X-LocaleSpecific,sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 1.3em;
	vertical-align: top;
	cursor: help;
	margin-top: 2px;
}

.helpInfo:hover {
	background-color: var(--background-color-hover-help-info);
}

.controlButton {
	padding: 1px 3px;
	color: var(--foreground-color);
	background-color: rgba(var(--background-color-button), var(--background-alpha-button));
	border: 1px solid rgb(193, 193, 193);
	border-radius: 2px;
	height: 30px;
	width: 130px;
	text-align: center;
	margin-left: 10px;
}

.controlButton:hover {
	background-color: rgba(var(--background-color-button), var(--background-alpha-hover-button));
}

.controlButton:active:hover {
	background-color: rgba(var(--background-color-button), var(--background-alpha-hover-active-button));
}

.annotation {
	font-family: "Segoe UI";
	font-size: 9pt;
	color: gray;
}

/* Elements that will 'flash' */
select,
.annotation,
.controlButton,
#dateOfBirth,
#userTitle,
#userStartDate,
#userEndDate {
	background: linear-gradient(to left, transparent 50%, var(--color-flash) 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: background-position 0.2s ease-in 0s;
}

.annotation.flash {
	background-position: left bottom;
	color: black;
}

select.flash,
.controlButton.flash,
#dateOfBirth.flash,
#userTitle.flash,
#userStartDate.flash,
#userEndDate.flash {
	background-position: left bottom;
}

/* Disabled elements */
label.disabled,
input[type="radio"].disabled,
input[type="text"].disabled {
	color: var(--foreground-color-disabled-control);
	border-color: var(--foreground-color-disabled-control);
}

/* because this element is selected to 'flash' I need to overwrite the background color */
#dateOfBirth,
#userTitle,
#userStartDate,
#userEndDate {
	background-color: var(--background-color-input-control);
}

#dayEnd {
	outline: solid 0 rgb(255, 64, 64);
	outline-offset: 0;
	transition: outline-width 100ms linear 0s;
}

.preference {
	transition: background-color 1s ease-out;
}
