:root {
  --progress-bar-height: 12px;
  --progress-bar-padding: 3px;
  --footer-height: 45px;
  --button-size: 45px;
  --button-img-size: 16px;

  --background-color: rgb(60, 60, 62);          /* #505050;*/
  --background-color-diff: rgb(85, 85, 85);
  --background-color-hover: rgb(74, 74, 74);

  --background-color-options-not-set: rgb(179, 179, 179);
  --color-options-not-set: hsl(0, 100%, 38%);
  --border-color: rgb(102, 102, 107);
  --text-color: rgb(240, 240, 240);

  --progress-bar-line-height: 17px;
}

body {
  min-width: 450px;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Tahoma, Sans;
  font-size: 13.2px;
  font-weight: normal;
  -moz-user-select: none;
  user-select: none;
}

.header {
  font-family: Calibri, Tahoma, Sans;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  padding: 11px 0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  height: var(--footer-height);
  background-color: var(--background-color-diff);
  margin-top: 15px;
}

.footer .seperator {
  width: 1px;
  margin: 5px 0;
  background-color: var(--border-color);
}

.footer .button {
  width: var(--button-size);
  border: none;
}

.footer .button .imgButton {
  width: var(--button-img-size);
  height: var(--button-img-size);
  margin: calc( (var(--button-size) - var(--button-img-size)) / 2 );
  filter: invert(60%);
}

#btnRefresh > .imgButton {
  background: transparent url("../icons/refresh.svg") no-repeat center/100%;
}

#btnPreferences > .imgButton {
  background: transparent url("../icons/gear-wheel.svg") no-repeat center/100%;
}

.button:hover {
  background-color: var(--background-color-hover);
}

.button:hover > .imgButton {
  filter: invert(100%);
}

.button:active {
	filter: invert(100%);
}

#version {
  margin: auto auto auto 10px;
  color: rgb(153, 153, 153);
}

.progressBarContainer {
  padding: 10px 20px;
  outline: 0 dotted #ffffff;
  outline-offset: -5px;
  cursor: pointer;
}

.progressBarLine {
  display: flex;
  justify-content: space-between;
  line-height: var(--progress-bar-line-height);
}

.progressBarLine > .progressBarTitle {
  max-width: 700px;
  white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 8px;
}

.progressBarLine .checkMarkImg,
.progressBarLine .btnProgressPreference,
.progressBarLine > .spacer {
  height: var(--progress-bar-line-height);
  width: var(--progress-bar-line-height);
}

.progressBarLine .checkMarkImg {
  background: transparent url("../icons/check-mark.svg") no-repeat center/100%;
  visibility: hidden;
}

.progressBarLine .btnProgressPreference {
  background: transparent url("../icons/gear-wheel.svg") no-repeat center/100%;
  filter: invert(60%);
  visibility: hidden;
}

.progressBarLine > .spacer {
  margin: 0 auto;
}

.progressBarContainer.iconized .checkMarkImg,
.progressBarContainer:hover .btnProgressPreference {
  visibility: visible;
}

.progressBarLine > .btnProgressPreference:hover {
  filter: invert(100%);
}

.progressBarLine > .btnProgressPreference:active {
	filter: invert(0%);
}

.progressBarLine .progressBarValue {
  text-align: right;
  padding-left: 8px;
}

.progressBar {
  background-color: black;
  border-radius: calc( var(--progress-bar-height) / 2 + var(--progress-bar-padding));   /*13px; /* (height of inner div) / 2 + padding */
  padding: var(--progress-bar-padding);
  margin: 2px 0;
}

.progressBar > .progressBarInner {
  background-color: orange;
  width: 0%;            /* adjusted with JavaScript */
  height: var(--progress-bar-height);
  border-radius: calc( var(--progress-bar-height) / 2);       /*10px;*/
}

.progressBar > .notSetTextInner {
  display: none;
  background-color: var(--background-color-options-not-set);
  color: var(--color-options-not-set);
  height: var(--progress-bar-height);
  font-family: "Segoe UI";
  font-size: 9pt;
  line-height: 8pt;
  white-space: nowrap;
  text-align: center;
  text-shadow: white 0 0 5px;
}

.progressBar > .notSetTextInner > .notSetTextImg,
.progressBar > .notSetTextInner > .optionsImg {
  height: var(--progress-bar-height);
  width: var(--progress-bar-height);
}

.progressBar > .notSetTextInner > .notSetTextImg {
  background: transparent url("../icons/exclamation.svg") no-repeat center/100%;
}

.progressBar > .notSetTextInner > .optionsImg {
  background: transparent url("../icons/gear-wheel.svg") no-repeat center/100%;
}

.progressBar.optionsNotSet {
  background-color: var(--background-color-options-not-set);
}

.progressBar.optionsNotSet > .progressBarInner {
  display: none;
}

.progressBar.optionsNotSet > .notSetTextInner {
  display: flex;
  justify-content: center;
}

#userProgressBarContainer .seperator {
  height: 1px;
  margin: 10px 72px;
  background-color: var(--border-color);
}