:root {
  --progress-bar-height: 12px;
  --progress-bar-padding: 3px;
  --footer-height: 45px;

  --background-color: rgb(60, 60, 62);          /* #505050;*/
  --background-color-diff: rgb(85, 85, 85);
  --background-color-hover: rgb(74, 74, 74);

  --background-color-options-not-set: rgb(179, 179, 179);
  --color-options-not-set: rgb(194, 0, 0);
  --border-color: rgb(102, 102, 107);
  --text-color: rgb(240, 240, 240);
}

body {
  min-width: 450px;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Tahoma, Sans;
  font-size: 13.2px;
  font-weight: normal;
}

.header {
  font-family: Calibri, Tahoma, Sans;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  padding: 11px 0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  height: var(--footer-height);
  background-color: var(--background-color-diff);
  margin-top: 15px;
}

.footer .seperator {
  width: 1px;
  margin: 5px 0;
  background-color: var(--border-color);
}

.footer .button {
  width: 45px;
  border:none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(60%);
}

#version {
  margin: auto auto auto 10px;
  color: rgb(153, 153, 153);
}

#btnRefresh {
  background-image: url("../icons/refresh.svg");
}

#btnPreferences {
  background-image: url("../icons/preferences.svg");
}

.button:hover {
  background-color: var(--background-color-hover);
  filter: invert(0%);
}

.button:active {
	filter: invert(100%);
}

.progressBarContainer {
  padding: 10px 20px;
  outline: 0 dotted #ffffff;
  outline-offset: -2px;
}

.progressBarContainer[browserAction] {
  outline: 1px solid darkorange !important;
}

.progressBarTexts {
  display: flex;
  justify-content: space-between;
}

.progressBarTexts > .progressBarName {
  max-width: 700px;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.progressBarTexts > .progressBarValue {
  padding-left: 20px;
}

.progressBar {
  background-color: black;
  border-radius: calc( var(--progress-bar-height) / 2 + var(--progress-bar-padding));   /*13px; /* (height of inner div) / 2 + padding */
  padding: var(--progress-bar-padding);
  margin: 2px 0;
}

.progressBar > .progressBarInner {
  background-color: orange;
  width: 0%;            /* adjusted with JavaScript */
  height: var(--progress-bar-height);
  border-radius: calc( var(--progress-bar-height) / 2);       /*10px;*/
}

.progressBar > .notSetTextInner {
  display: none;
  background-color: var(--background-color-options-not-set);
  color: var(--color-options-not-set);
  height: var(--progress-bar-height);
  font-family: "Segoe UI";
  font-size: 9pt;
  line-height: 8pt;
  white-space: nowrap;
  text-align: center;
}

.progressBar > .notSetTextInner > .notSetTextImg,
.progressBar > .notSetTextInner > .optionsImg {
  height: var(--progress-bar-height);
  width: var(--progress-bar-height);
}

.progressBar > .notSetTextInner > .notSetTextImg {
  background: transparent url("../icons/exclamation.svg") no-repeat center/100%;
}

.progressBar > .notSetTextInner > .optionsImg {
  background: transparent url("../icons/preferences.svg") no-repeat center/100%;
}

.progressBar.optionsNotSet {
  background-color: var(--background-color-options-not-set);
}

.progressBar.optionsNotSet > .progressBarInner {
  display: none;
}

.progressBar.optionsNotSet > .notSetTextInner {
  display: flex;
  justify-content: center;
}

#userProgressBarContainer .seperator {
  height: 1px;
  margin: 10px 72px 3px 72px;
  background-color: var(--border-color);
}